.canvas {

    position: fixed;

    inset: 0;

    z-index: -1;

    pointer-events: none;

    mix-blend-mode: screen;
}

@media (prefers-reduced-motion: reduce) {

    .canvas {
        opacity: .6;
    }
}
